body{
    margin: 0;
    font-family: barecast;
}

.heading {
    text-align: center;
    margin: auto;
    font-size: 38px;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li{
    font-size: larger;
    display: inline;
    list-style-type: none;
    margin: 5%;
    padding: 0;
}
.content li{
    list-style-type: none;
}
.cont{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px solid;
    border-color: gray black black gray;
    background-color: #caccca;
}
.content{
    border-radius: 0%;
    margin: 5%;
    margin-top: 3%;
}

.lcolumn {
  float: left;
  margin-left: 5%;
  width: 40%;
}

.rcolumn {
    float: right;
    width: 40%;
    margin-right: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.floatelement{
    float: left;
    margin: 0;
}

.animated-bg {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #90d47f, #66c7d6);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite; /* Applies infinite animation */
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
